:root,
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-primary-3);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1{
  font-size: var(--font-size-heading-l);
  line-height: var(--font-line-heading-l);
}
h2{
  font-size: var(--font-size-heading-m);
  line-height: var(--font-line-heading-m);
}
h3{
  font-size: var(--font-size-heading-s);
  line-height: var(--font-line-heading-s);
}
h4{
  font-size: var(--font-size-heading-xs);
  line-height: var(--font-line-heading-xs);
}
p{
  font-size: var(--font-size-body);
  line-height: var(--font-line-body);
}

h5{
  font-size: var(--font-size-body);
  line-height: var(--font-line-body);
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}
pre {
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

/* Primary */
:root {


  --color-primary-0: #432F75;	
  --color-primary-1: #030107;
  --color-primary-2: #1d1c20;
  --color-primary-3: #725CAB;
  --color-primary-4: #BAA4F5;
  --color-primary-5: #e7e1f8;

  --color-secondary-1-0: #AA3E39;	
  --color-secondary-1-1: #0A0100;
  --color-secondary-1-2: #5A1411;
  --color-secondary-1-3: #FA7F78;
  --color-secondary-1-4: #FFA5A0;
  --color-secondary-2-0: #2C8437;	
  --color-secondary-2-1: #000801;
  --color-secondary-2-2: #0D4614;
  --color-secondary-2-3: #5DC269;
  --color-secondary-2-4: #9CF8A7;
  --color-complement-0: #AA9839;	
  --color-complement-1: #0A0900;
  --color-complement-2: #5A4F11;
  --color-complement-3: #FAE678;
  --color-complement-4: #FFF0A0;
  
  






  
  --color-1000: #151619;
  --color-900: #1d1f22;
  --color-800: #2b2d31;
  --color-700: #35393f;
  --color-600: #5a6069;
  --color-500: #7c8187;
  --color-400: #c1c4cb;
  --color-300: #e4e4e4;
  --color-200: #f5f5f5;
  --color-100: #ffffff;
  --color-orange: #e46643;
  --color-orange-hover: #f39765;
}

/* Font sizes */
:root {
  --font-size-heading-l: 56px;
  --font-size-heading-m: 24px;
  --font-size-heading-s: 20px;
  --font-size-heading-xs: 16px;
  --font-size-body: 16px;
}

/* Font line height */
:root {
  --font-line-heading-l: 71px;
  --font-line-heading-m: 31px;
  --font-line-heading-s: 26px;
  --font-line-heading-xs: 21px;
  --font-line-body: 21px;
}

html[data-theme='light'] {
  --color-bg: #ffffff;
  --color-markdown-text: #35393f;
  --color-editor-header-bg: #f5f5f5;
  --color-editor-header-text: #7c8187;
  --color-border: #e4e4e4;
  --color-preview-header: #35393f;
  --color-preview-body: #7c8187;
  --color-preview-qoute-body: #35393f;
  --color-preview-qoute-bg: #f5f5f5;
  --color-preview-code-bg: #f5f5f5;
  --color-modal-bg: #ffffff;
  --color-modal-header: #35393f;
  --color-modal-body: #7c8187;
}

html[data-theme='dark'] {
  --color-bg: #151619;
  --color-markdown-text: #c1c4cb;
  --color-editor-header-bg: #1d1f22;
  --color-editor-header-text: #c1c4cb;
  --color-border: #5a6069;
  --color-preview-header: #ffffff;
  --color-preview-body: #c1c4cb;
  --color-preview-qoute-body: #ffffff;
  --color-preview-qoute-bg: #2b2d31;
  --color-preview-code-bg: #2b2d31;
  --color-modal-bg: #1d1f22;
  --color-modal-header: #ffffff;
  --color-modal-body: #c1c4cb;
}


/* hacker theme */




blockquote {
	background: rgb(53, 48, 48);

	border-left: 4px solid var(--color-orange);
	border-right: 4px solid var(--color-orange);
	padding: 2.4rem;
  width: 100%;
	border-radius: 0.4rem;
	color: var(--color-preview-qoute-body) !important;
	font-weight: bold !important;
}

body {
  font-family: 'Roboto Slab', sans-serif; 
  background-color: var(--color-1000);
}

main {
  color: var(--color-300);
  display: flex;
  flex-direction: column;
 
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
}
ul{
  list-style-type: disc;
  padding-left: 1.5rem;
} 

ul  ul{
  list-style-type: circle;
  padding-left: 1.5rem;
}

ul  ul  ul{
  list-style-type: square;
  padding-left: 1.5rem;
} 

ul  ul  ul  ul{
  list-style-type: disc;
  padding-left: 1.5rem;
}
ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}
ol ol {
  list-style-type: lower-alpha;
  padding-left: 1.5rem;
}

ol ol ol {
  list-style-type: lower-roman;
  padding-left: 1.5rem;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(203, 232, 219);
  font-weight: bold;
  transition: all 0.2s ease-in-out;

  cursor: pointer;
  background-color: #4a535f;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5%;
}


code {
  background-color: #3C434D;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  width: 100%;
  margin-bottom: 1.5rem;
}

table th {
  font-weight: bold;
  text-align: left;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-bottom: 1px solid gray;
  background-color: var(--color-700)}

table td {
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-bottom: 1px solid gray;
}

table tr:last-child td {
  border-bottom: none;
}

table tr:nth-child(even) td {
  background-color: var(--color-800);
}

@keyframes notSave {
	0% {
	border-left: 4px solid var(--color-orange);
	}
	50% {
	border-left: 4px solid rgb(116, 26, 26);
	}
	100% {
	border-left: 4px solid var(--color-orange);
	}
}

@keyframes save {
	0% {
	border-left: 4px solid var(--color-orange);
	}
	50% {
	border-left: 4px solid rgb(26, 116, 26);
	}
	100% {
	border-left: 4px solid var(--color-orange);
	}
}


.content a{
  color : rgb(0, 38, 255);
}


#lexical {
  color : inherit;
  font-weight: bold;
}

#lexical:hover {
  cursor: pointer;
  text-decoration: underline;
}